<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>Looseleaf</title>
    <link rel="stylesheet" type="text/css"  href="{% static 'looseleaf/fonts/fonts.css' %}" />
    <link rel="stylesheet" type="text/css"  href="{% static 'looseleaf/css/style.css' %}" />
    <!--<link rel="stylesheet" type="text/css" href="{% static 'looseleaf/jquery-ui/jquery-ui.min.css' %}"/>-->
    <link rel="stylesheet" type="text/css" href="{% static 'looseleaf/font-awesome/css/font-awesome.min.css' %}"/>
    <!--<link rel="shortcut icon" href="{% static 'looseleaf/images/favicon.ico' %}"/>-->
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div id="container">
        {% block header %}
        <div id="header-compact">
            <div id="nav-compact">
                <p id="user-info">
                    {% if user.is_authenticated %}
                        "Hello,"<b>{{ user.username }}</b>. <a href="{% url 'userena_signout' %}">"Sign out"</a>
                    {% else %}
                    <a href="{% url 'userena_signin' %}">Sign in</a>
                    {% endif %}
                </p>
                <ul>
                    <li class="menu-item"><a href="{% url 'notesindex' %}">
                        <div class="img" id="home_img"></div>
                        <h4>"Home"</h4>
                    </a></li>
                    {% if user.is_authenticated %}
                        <li class="menu-item"><a href="{% url 'notes:recipe_list' %}">
                            <div class="img" id="recipes_img"></div>
                            <h4>"Notes"</h4>
                        </a></li>
                        <li class="menu-item"><a href="{% url 'notes:box_list' %}">
                            <div class="img" id="boxes_img"></div>
                            <h4>"Boxes"</h4>
                        </a></li>
                        <li class="menu-item"><a href="{% url 'userena_profile_detail' user.username %}">
                            <img id="avatar" src="{{ user.get_profile.get_mugshot_url }}" alt="Your mugshot" />
                            <h4>"Account"</h4>
                        </a></li>
                    {% endif %}
                </ul>
            </div>
            <img id="logo-compact" src="{% static 'chefwhale/images/whale_title.png' %}" />
            <div id="border-compact"></div>
        </div>
        {% endblock %}
        <div id="push"></div>
    </div>

    <div id="footer">
        <div id="text-area">
            <ul>
                <li><a href="{% url 'notes:index' %}">Home</a></li>
                <li><img src="{% static 'looseleaf/images/starfish.png' %}" /></li>
                <li><a href="#">Contact</a></li>
                <li><img src="{% static 'looseleaf/images/starfish.png' %}" /></li>
                <li><a href="{#  url 'notes:about' #}">About</a></li>
            </ul>
        </div>
    </div>

    <!-- JavaScript files -->
    <script src="{% static 'looseleaf/jquery-ui/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'looseleaf/jquery-ui/jquery-ui.min.js' %}"></script>
    {% block extra_js %}{% endblock %}

    </body>
</html>