{% extends 'looseleaf/base.html' %}
{% load staticfiles %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        
        {{ notebook_form.non_field_errors }}
        <div class="fieldWrapper">
            {{ notebook_form.title.errors }}
            {{ notebook_form.title }}
        </div>
        <div class="fieldWrapper">
            {{ notebook_form.color.errors }}
            {{ notebook_form.color }}
        </div>
        <div class="fieldWrapper">
            {{ notebook_form.collaborators.errors }}
            <label for="{{ notebook_form.collaborators.id_for_label }}">Collaborators:</label><br/>
            {{ notebook_form.collaborators }}
        </div>
        <input type="submit" class="btn btn-primary">
    </form>
{% endblock %}