{% extends 'looseleaf/base.html' %}
{% load staticfiles %}

{% block header %}
Test
{% endblock %}

{% block content %}
    <p>This page has a list of the notebooks on it</p>
    <p>I think it would be cool to make the icon for each of them a leaf in the color of the notebook</p>

    <ul>
        {% for n in notebooks %}
            <li><a href="{% url 'notes:notebook' pk=n.pk %}">{{ n.title }}</a></li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'notes:add_notebook' %}" role="button"><i class="fa fa-plus"></i> Add Notebook</a>
{% endblock %}

{% block extra_js %}
<!-- MathJax -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}
