{% extends 'looseleaf/base.html' %}
{% load staticfiles %}

{% block header %}
Test
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Notebooks</h1>
        {% for n in notebooks %}
            <a href="{% url 'notes:notebook' pk=n.pk %}"><h2>{{ n.title }}</h2></a>
        {% endfor %}
        <a class="btn btn-primary" href="{% url 'notes:add_notebook' %}" role="button"><i class="fa fa-plus"></i> Add Notebook</a>
    {% else %}
        <h1>Welcome to Looseleaf.</h1>
        <p>You're not logged in. You can either create an account or sign in to start using Looseleaf.</p>
        <a class="btn btn-primary" href="{% url 'userena_signup' %}" role="button">Sign Up</a>
        <a class="btn btn-primary" href="{% url 'userena_signin' %}" role="button">Sign In</a>
    {% endif %}
{% endblock %}

{% block extra_js %}
<!-- MathJax -->
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endblock %}
