{% extends 'looseleaf/base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{%  static 'looseleaf/gridstack/gridstack.css' %}"/>
{% endblock %}

{% block content %}
    <h1 class="notebook-id" id="{{ notebook.pk }}">{{ notebook.title }}</h1>

    <div class="add-note">
        <h2>Add note</h2>
        <!-- Add note -->
        <form method="POST" id="note-form">
            {% csrf_token %}
            <div class="fieldWrapper" id="note">
                {{ form.content }}
                {{ form.color }}
            </div>
            <div id="results"></div> <!-- errors go here -->
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>

    <!-- Collaborators -->
    <div class="collaborator-box">
        {% for c in notebook.collaborators.items %}
            {{ c.mugshot }} test
        {% endfor %}
    </div>

    <!-- Gridstack -->
    <div class="container-fluid">
        {% comment %}
        <h1>Serialization demo</h1>
        <div>
            <a class="btn btn-default" id="add-box" href="#">Add Note</a>
			<a class="btn btn-default" id="save-grid" href="#">Save Grid</a>
            <a class="btn btn-default" id="load-grid" href="#">Load Grid</a>
            <a class="btn btn-default" id="clear-grid" href="#">Clear Grid</a>
        </div>
        {% endcomment %}

        <br/>
        <div class="grid-stack">
        </div>

        {% comment %}
		<br>
        <hr/>
        <textarea id="saved-data" cols="100" rows="20" readonly="readonly"></textarea>
        {% endcomment %}
    </div>

    {# Temporarily display notes as list #}
    {% comment %}<h1>Existing notes</h1>
    {% for n in notes %}
        <p>{{ n.content }}</p>
    {% endfor %}{% endcomment %}


<div class="container" id='addModals'>
  {% comment %}<h2>Modal Example</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" data-toggle="modal" data-target="#modal0">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="modal0" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>INSERT CONTENT HERE.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" onclick="editNote">EDIT</button>
        </div>
      </div>

    </div>
  </div>{% endcomment %}
</div>

{% endblock %}

{% block extra_js %}
    <!-- For GridStack -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="{%  static 'looseleaf/gridstack/gridstack.js' %}"></script>
    <script src="{%  static 'looseleaf/gridstack/gridstack.jQueryUI.js' %}"></script>
    <script src="{%  static 'looseleaf/js/gridstack_custom.js' %}"></script>

    <!-- MathJax -->
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
{% endblock %}
