{% extends 'looseleaf/base.html' %}
{% load staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" href="{%  static 'looseleaf/gridstack/gridstack.css' %}"/>
{% endblock %}

{% block content %}
    <h1 class="notebook-id" id="{{ notebook.pk }}">{{ notebook.title }}</h1>

    <div class="add-note">
        <h2>Add note</h2>
        <!-- Add note -->
        <form method="POST" id="note-form">
            {% csrf_token %}
            <div class="fieldWrapper" id="note">
                {{ form.content }}
                {{ form.color }}
            </div>
            <div id="results"></div> <!-- errors go here -->
            <input type="submit" value="Post" class="btn btn-primary">
        </form>
    </div>

    <!-- Collaborators -->
    <div class="collaborator-box">
        {% for c in notebook.collaborators.items %}
            {{ c.mugshot }} test
        {% endfor %}
    </div>

    <!-- Gridstack -->
    <div class="container-fluid">
        {% comment %}
        <h1>Serialization demo</h1>
        <div>
            <a class="btn btn-default" id="add-box" href="#">Add Note</a>
			<a class="btn btn-default" id="save-grid" href="#">Save Grid</a>
            <a class="btn btn-default" id="load-grid" href="#">Load Grid</a>
            <a class="btn btn-default" id="clear-grid" href="#">Clear Grid</a>
        </div>
        {% endcomment %}

        <br/>
        <div class="grid-stack">
        </div>

        {% comment %}
		<br>
        <hr/>
        <textarea id="saved-data" cols="100" rows="20" readonly="readonly"></textarea>
        {% endcomment %}
    </div>

    {# Temporarily display notes as list #}
    {% comment %}<h1>Existing notes</h1>
    {% for n in notes %}
        <p>{{ n.content }}</p>
    {% endfor %}{% endcomment %}


<div class="container" id='addModals'>
</div>

{% endblock %}

{% block extra_js %}
    <!-- For GridStack -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.0/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="{%  static 'looseleaf/gridstack/gridstack.js' %}"></script>
    <script src="{%  static 'looseleaf/gridstack/gridstack.jQueryUI.js' %}"></script>
    <script src="{%  static 'looseleaf/js/gridstack_custom.js' %}"></script>

    <!-- MathJax -->
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>


    <script>
        editNote = function (id) {

            console.log('EDIT THE NOTE ' + id);
            edit_get(id)

            return false;
        };

        function edit_get(id) {
            $.ajax({
                url: "/edit_note/", // the endpoint
                type: "GET", // http method
                data: {
                    id: id,
                    // TODO: Add position/size
                }, // data sent with the post request

                // handle a successful response
                success: function (html) {
                    $('#id_content').val(''); // remove the value from the input
                    console.log(html);
                    document.getElementById('modal'+id+'body').innerHTML=html;
                    //CREATE POPUP MODAL


                    console.log("success"); // another sanity check
                }.bind(this),

                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                    $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: " + errmsg +
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            });
        }
        ;

    </script>

{% endblock %}
