body {
    font-weight: 300;
}


/** NAVBAR **/

.navbar-brand {
    padding: 10px 15px;
    font-size: 22px;
}

#logo {
    height: 100%;
    display: inline-block;
}

.navbar-nav i.fa, .btn i.fa {
    padding-right: 10px;
}
.dropdown-menu {
    border: none;
}

.user-icon {
    border-radius: 50%;
    height: 32px;
    margin: -6px 0;
    display: inline-block;
    font-size: 32px;
}

/** FOOTER **/

footer {
    font-family: "Open Sans", sans-serif;
    //font-weight: 600;
    color: #999;
}
footer .nav {
    float: none;
    display: inline-block;
    color: #999;
}
footer .nav a {
    color: #999;
}
footer .nav > li > a:hover {
    background-color: transparent;
    //color: #DF3331;
}
footer div {
    text-align: center;
}


/** FORMS **/

.color-sample {
    width: 14px;
    height: 14px;
    display: inline-block;
}